@tailwind base;
@tailwind components;
@tailwind utilities;

.random-move {
  animation: randomMove 120s infinite linear;
}

.random-move-2 {
  animation: randomMoveOpposite 120s infinite linear;
}

@keyframes randomMove {
  0% {
    transform: translate(0%, 0%);
  }
  10% {
    transform: translate(30%, 10%);
  }
  20% {
    transform: translate(-20%, -10%);
  }
  30% {
    transform: translate(50%, 5%);
  }
  40% {
    transform: translate(-10%, -15%);
  }
  50% {
    transform: translate(70%, 20%);
  }
  60% {
    transform: translate(10%, -5%);
  }
  70% {
    transform: translate(-30%, 15%);
  }
  80% {
    transform: translate(20%, -10%);
  }
  90% {
    transform: translate(-50%, 10%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}

@keyframes randomMoveOpposite {
  0% {
    transform: translate(0%, 0%);
  }
  10% {
    transform: translate(-50%, -10%);
  }
  20% {
    transform: translate(20%, 10%);
  }
  30% {
    transform: translate(-30%, -5%);
  }
  40% {
    transform: translate(10%, 15%);
  }
  50% {
    transform: translate(-70%, -20%);
  }
  60% {
    transform: translate(-10%, 5%);
  }
  70% {
    transform: translate(50%, -15%);
  }
  80% {
    transform: translate(-20%, 10%);
  }
  90% {
    transform: translate(30%, -10%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}

